<div class="navbar-wrapper">
	<div class="container">

		<nav class="navbar navbar-inverse navbar-static-top siteNav">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">{{ site.data.cfg.org }}</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">

						{% for nav_link in site.data.cfg.nav %}
							{% if nav_link.href %}

								<li><a href="{{ nav_link.href }}">{{ nav_link.text }}</a></li>

							{% elsif nav_link.dropdown %}

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ nav_link.text }}<span class="caret"></span></a>
									<ul class="dropdown-menu">

										{% for dropdown_link in nav_link.dropdown %}

											<li><a href="{{ dropdown_link.href }}">{{ dropdown_link.text }}</a></li>

										{% endfor %}

									</ul>
								</li>

							{% else %}

								<li><a href="">NEITHER</a></li>

							{% endif %}
						{% endfor %}

					</ul>
				</div>
			</div>
		</nav>

	</div>
</div>
